Django~=4.2
psycopg2-binary
django-split-settings
python-decouple
django-stubs[compatible-mypy]
structlog

django-migration-linter

django-parler==2.3

Pillow==10.2.0
celery==5.2.3

yookassa~=2.4
WeasyPrint==56.1
redis==4.3.4